/* Defaults to desktop */
  body {
      margin: 0;
      font-family: Arial, sans-serif;
  }

  .container {
      display: flex;
      gap: 20px;
      max-width: 1200px;
      margin: 50px auto;
      padding: 20px;
  }

  .box {
      flex: 1;
      padding: 40px;
      text-align: center;
      background: steelblue;
      color: white;
      font-size: 24px;
  }

  /* devices like tablet- below 768px */
  @media  (min-width: 480px) and (max-width: 768px) {

      .container {
          flex-direction: column;
      }

      .box {
          font-size: 20px;
          background-color: aqua;
      }
  }

  /* devices like mobile - below 480px */
  @media (min-width:250px) and (max-width: 480px) {

      .container {
          margin: 20px auto;
          padding: 10px;
          gap: 10px;
      }

      .box {
          padding: 25px;
          font-size: 16px;
          background-color: pink;
      }
  }