body{
    margin:25px;
    padding:25px;
    border: 10px solid crimson;
    font-size: 20px;
}

p::first-letter{
    font-size: 25px;
    color:crimson
}

P::first-line{
    font-style: italic;
}

p::selection{
    background-color: blueviolet;
}

.err::spelling-error{
    color:red;
    font-size: 30px;
    text-decoration: underline;
}

.empty1::after{
    content:"I came from CSS ::after";
}

.empty2::before{
    content:"I came from CSS ::before";
}

