body{
    margin:25px;
    padding:25px;
    border: 10px solid crimson;
    font-size: 20px;
}


li:first-child {
    color: red;
}

li:last-child{
    color:green;
}

li:nth-child(3) {
    color: blue;
}

li:nth-child(4n) {
    color: purple;
}

li:nth-last-child(2) {
    color: orange;
}

li:nth-last-child(2n) {
    background: lightgrey;
}


p:first-of-type {
    background-color: chartreuse;
    text-decoration: underline;
}

p:last-of-type {
    color: purple;
    font-weight: bold;
}

span:nth-of-type(2) {
    background-color: yellow;
}

p:nth-last-of-type(2) {
    background-color: orange;
}

