body {
    font-size: 16px;

    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 2rem;
}

h1 {
    font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.subtitle {
    font-size: 2vw;
}